target/
.idea/
.flattened-pom.xml
.settings/
*.iml
.project
.classpath
.springBeans
target/
.factorypath
changelog.txt
.mvn/.gradle-enterprise

#IntelliJ Stuff
.idea
*.iml

# Antora
node
node_modules
package.json
package-lock.json