# Maven
target/
.flattened-pom.xml
.settings/
.mvn/.gradle-enterprise

# Eclipse
.project
.classpath
.springBeans
.factorypath

# General
changelog.txt

# Antora
node_modules/
node/
package-lock.json
package.json


# IDEA
.idea
*.iml
