name: Compatibility Build

on:
  workflow_dispatch:
  schedule:
    - cron: '5 6 * * *'

jobs:
  integration:
    strategy:
      matrix:
        branch:
        - '1.4.x'
        - '1.3.x'
        - '1.2.x'
        boot:
        - '3.1.12'
        - '3.2.12'
        - '3.3.12'
        - '3.4.11'
        - '3.4.12-SNAPSHOT'
        - '3.5.10'
        - '3.5.11-SNAPSHOT'
        jmolecules:
        - '2025.0.2'

    name: Build ${{ matrix.branch }} against Boot ${{ matrix.boot }} / jMolecules ${{ matrix.jmolecules }}
    runs-on: ubuntu-latest

    steps:

    - name: Check out sources
      uses: actions/checkout@v4
      with:
          ref: ${{ matrix.branch }}

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: 17
        cache: 'maven'

    - name: Build with Maven
      env:
        COMMERCIAL_USERNAME: ${{ secrets.COMMERCIAL_ARTIFACTORY_RO_USERNAME }}
        COMMERCIAL_PASSWORD: ${{ secrets.COMMERCIAL_ARTIFACTORY_RO_PASSWORD }}
        DEVELOCITY_ACCESS_KEY: ${{ secrets.GRADLE_ENTERPRISE_SECRET_ACCESS_KEY }}
      run: |
        cd spring-modulith-examples
        ../mvnw -B versions:update-parent -s ../settings.xml -Pspring-enterprise,with-preview-repos -DskipResolution=true -DparentVersion=${{ matrix.boot }}
        ../mvnw -B clean verify -s ../settings.xml -Pspring-enterprise,with-preview-repos -Dspring-boot.version=${{ matrix.boot }} -Djmolecules.version=${{ matrix.jmolecules }}
